:root {
  --color-primary: #ffde2e;
  --color-secondary: #756300;
  --color-tertiary: #0e0f10;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #555;
  --color-ash-gray: #B2BEB5;
  --font-primary: 1.6rem; }

@keyframes fadeInOut {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--color-black); }

a, a:active a:link {
  text-decoration: none;
  color: white; }

li {
  list-style: none; }

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Regular.woff) format("woff"), url(../fonts/woff/IRANSansX-Regular.woff2) format("woff2"); }

body {
  font-family: iransans;
  font-size: var(--font-primary); }

.heading-primary {
  font-size: 4rem;
  color: var(--color-white);
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .heading-primary {
      font-size: 2.5rem; } }

.heading-secondary {
  font-size: 1.8rem;
  color: var(--color-white);
  cursor: pointer; }
  .heading-secondary .bi {
    font-size: 2.2rem;
    color: var(--color-primary); }
  @media (max-width: 767px) {
    .heading-secondary {
      font-size: 1.6rem; }
      .heading-secondary .bi {
        font-size: 2rem; } }

.heading-tertiary {
  font-size: 3rem;
  color: var(--color-primary);
  text-transform: uppercase; }

.founder__box-container__name {
  font-size: 3rem;
  color: var(--color-primary); }
  @media (max-width: 767px) {
    .founder__box-container__name {
      font-size: 2rem; } }

.founder__box-container__age {
  font-size: 2.5rem;
  color: var(--color-primary); }
  @media (max-width: 767px) {
    .founder__box-container__age {
      font-size: 1.8rem; } }

.founder__box-container__abilities {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary); }
  @media (max-width: 767px) {
    .founder__box-container__abilities {
      font-size: 1.4rem; } }
  .founder__box-container__abilities-ability {
    text-align: center; }

.u-margin-right-small {
  margin-right: .5rem; }

.u-margin-left-small {
  margin-left: .5rem; }

.u-margin-bottom-large {
  margin-top: 5rem; }

.u-margin-top-large {
  margin-top: 5rem; }

.button-primary {
  width: fit-content;
  height: fit-content;
  padding: 1rem 4.5rem;
  font-size: 2.5rem;
  position: relative;
  transition: all .5s ease-in;
  z-index: 100;
  background-color: var(--color-primary);
  border-radius: 2.5rem; }
  @media (max-width: 767px) {
    .button-primary {
      width: 20rem;
      height: 5rem;
      display: grid;
      place-items: center; }
      .button-primary:not(:last-child) {
        margin-bottom: 2rem; } }
  .button-primary:link, .button-primary:active, .button-primary:-webkit-any-link {
    text-decoration: none;
    color: var(--color-black); }
  .button-primary:hover {
    animation: fadeInOut .3s ease-in; }

.heading-team {
  position: relative;
  width: 100%;
  text-align: right;
  font-size: 3.5rem;
  color: var(--color-white); }
  .heading-team::after {
    content: "";
    width: 17rem;
    height: 1rem;
    position: absolute;
    bottom: 0;
    right: -0.4rem;
    z-index: -1;
    background-color: var(--color-secondary);
    opacity: 0.6;
    border-radius: 10rem 3rem 8rem 1rem; }

.card {
  width: 32rem !important;
  height: 32rem !important;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  perspective: 150rem; }
  .card:not(:last-child) {
    margin-right: 2rem; }
  .card__image {
    height: 32rem !important;
    width: 100%;
    transition: all 0.4s; }
  .card__age {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    transform: translateX(-15rem);
    color: var(--color-primary);
    font-size: 2rem;
    transition: all 0.4s;
    font-weight: bold; }
  .card__name {
    position: absolute;
    right: 2rem;
    bottom: 5rem;
    transform: translateX(20rem);
    color: var(--color-primary);
    font-size: 2.5rem;
    transition: all 0.4s;
    font-weight: bold; }
  .card__ability {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 5rem;
    background: var(--color-ash-gray);
    border-radius: 0 0 2rem 2rem;
    font-size: var(--font-primary);
    transform: translateY(-10rem);
    transition: all 0.4s;
    color: var(--color-secondary); }
  .card:hover .card__image {
    opacity: .3;
    transform: scale(1.2); }
  .card:hover .card__age {
    transform: translateX(0); }
  .card:hover .card__name {
    transform: translateX(0); }
  .card:hover .card__ability {
    transform: translateY(0); }
  @media (max-width: 767px) {
    .card {
      width: 22rem !important;
      height: 32rem !important;
      background-color: var(--color-gray);
      pointer-events: none; }
      .card__image {
        height: 22rem !important;
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none; }
      .card__age {
        font-size: var(--font-primary);
        bottom: unset;
        top: 27rem;
        transform: translateX(0); }
      .card__name {
        font-size: 2rem;
        transform: translateX(0);
        bottom: unset;
        top: 23rem; }
      .card__ability {
        font-size: 1.4rem;
        border-radius: 0;
        color: var(--color-primary);
        transform: translateY(0);
        top: 19rem;
        text-align: right;
        background-color: var(--color-gray);
        right: unset;
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%);
        width: 100%;
        height: 3rem; } }

.pages-container {
  position: fixed;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .pages-container .pages {
    width: 100vw;
    height: 100vh;
    perspective: 2000px;
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    position: relative;
    box-shadow: 0 0 1000px 500px #000;
    left: -100%;
    top: -100%; }
    .pages-container .pages .page {
      width: 100vw;
      height: 100vh;
      position: absolute;
      overflow-y: scroll;
      overflow-x: hidden;
      transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
      will-change: transform; }
      .pages-container .pages .page::-webkit-scrollbar {
        width: 0;
        background: transparent; }
      .pages-container .pages .page[data-posy="1"] {
        top: -100%; }
      .pages-container .pages .page[data-posy="-1"] {
        top: 100%; }
      .pages-container .pages .page[data-posx="1"] {
        left: -100%; }
      .pages-container .pages .page[data-posx="-1"] {
        left: 100%; }
    .pages-container .pages__main {
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/tom-barrett-hgGplX3PFBg-unsplash.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-flow: column nowrap; }
      .pages-container .pages__main-header {
        width: 100%;
        height: 6rem;
        padding: 3rem;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        @media (max-width: 576px) {
          .pages-container .pages__main-header {
            padding: 1rem; } }
        .pages-container .pages__main-header .logo {
          height: 6rem;
          margin-right: 1.4rem; }
      .pages-container .pages__main-main {
        width: 100%;
        height: calc(100% - 12rem);
        position: relative; }
        .pages-container .pages__main-main .banner {
          width: 75rem;
          height: 40rem;
          padding: 5rem;
          border-radius: 5rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: center;
          z-index: 10; }
          .pages-container .pages__main-main .banner__text {
            height: 15rem;
            width: 50%;
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between; }
            .pages-container .pages__main-main .banner__text .heading-primary:last-child {
              font-size: 2.5rem; }
              .pages-container .pages__main-main .banner__text .heading-primary:last-child .typed {
                color: var(--color-primary); }
          .pages-container .pages__main-main .banner .logo {
            height: 35rem; }
          @media (max-width: 767px) {
            .pages-container .pages__main-main .banner {
              width: 90%;
              height: 40rem;
              flex-flow: column; }
              .pages-container .pages__main-main .banner__text {
                width: 100%; }
                .pages-container .pages__main-main .banner__text .heading-primary:last-child {
                  font-size: 2rem; }
              .pages-container .pages__main-main .banner .logo {
                height: 25rem; } }
          @media (max-width: 576px) {
            .pages-container .pages__main-main .banner__text .heading-primary:last-child {
              font-size: 1.5rem; }
            .pages-container .pages__main-main .banner .logo {
              height: 20rem; } }
      .pages-container .pages__main-btn {
        width: 5rem;
        border-radius: 0 0 2rem 2rem;
        position: absolute;
        top: 6rem;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        z-index: 12; }
        .pages-container .pages__main-btn__container {
          width: 100%;
          height: 4rem;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          padding: 1rem;
          background-color: rgba(0, 0, 0, 0.6); }
          .pages-container .pages__main-btn__container-line {
            width: 3rem;
            height: 2px;
            background: var(--color-white);
            transition: all .4s ease; }
            .pages-container .pages__main-btn__container-line:not(:last-child) {
              margin-bottom: .5rem; }
        .pages-container .pages__main-btn__dropdown {
          width: 10rem;
          height: 0;
          background-color: rgba(0, 0, 0, 0.6);
          transform: translateX(-2.5rem);
          color: var(--color-primary);
          text-align: center;
          border-radius: 1rem;
          transition: all 1s ease;
          overflow: hidden; }
          .pages-container .pages__main-btn__dropdown-item {
            font-size: 1.4rem;
            cursor: pointer;
            position: relative;
            padding: .7rem; }
            .pages-container .pages__main-btn__dropdown-item:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: var(--color-secondary);
              top: 0;
              right: 0;
              transform: scale(0);
              transform-origin: right;
              transition: transform .6s ease; }
            .pages-container .pages__main-btn__dropdown-item:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: var(--color-secondary);
              bottom: 0;
              left: 0;
              transform: scale(0);
              transform-origin: left;
              transition: transform .6s ease; }
            .pages-container .pages__main-btn__dropdown-item:hover:after, .pages-container .pages__main-btn__dropdown-item:hover:before {
              transform: scale(1); }
      .pages-container .pages__main-footer {
        width: 100%;
        height: 6rem;
        padding: 3rem;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        @media (max-width: 576px) {
          .pages-container .pages__main-footer {
            padding: 1rem; } }
      .pages-container .pages__main .particle {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1; }
  .pages-container .change .pages__main-btn__container-line:first-child {
    transform: rotateZ(45deg) translate(0.5rem, 0.5rem);
    margin-bottom: 0 !important; }
  .pages-container .change .pages__main-btn__container-line:nth-child(2) {
    display: none; }
  .pages-container .change .pages__main-btn__container-line:last-child {
    transform: rotateZ(-45deg) translate(-0.35rem, 0.3rem); }
  .pages-container .change .pages__main-btn__dropdown {
    height: 15rem;
    padding: 1rem 0; }

.pages__about {
  background-color: var(--color-tertiary);
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .pages__about-sidebar {
    width: 6rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--color-black);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    .pages__about-sidebar .heading-secondary {
      width: 10rem;
      height: 5rem;
      transform: rotateZ(-90deg);
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
  .pages__about-main {
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    background-color: var(--color-tertiary);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden; }
    @media (max-width: 767px) {
      .pages__about-main {
        padding: 2.5rem; } }
    .pages__about-main::-webkit-scrollbar {
      width: 0;
      background: transparent; }
    .pages__about-main .moon-box {
      width: 60%;
      height: 40%;
      border-radius: 2.5rem;
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: space-around;
      align-items: center; }
      .pages__about-main .moon-box__logo {
        height: 25rem;
        transform: rotateZ(-106deg); }
      .pages__about-main .moon-box__text {
        width: 70%;
        height: 100%;
        font-size: 2rem;
        color: var(--color-white);
        text-align: right;
        padding: 5rem 0; }
        .pages__about-main .moon-box__text a {
          color: var(--color-primary); }
      @media (max-width: 767px) {
        .pages__about-main .moon-box {
          width: 95%;
          height: 80%;
          flex-flow: column nowrap; }
          .pages__about-main .moon-box__logo {
            height: 15rem;
            transform: rotateZ(-106deg); }
          .pages__about-main .moon-box__text {
            width: 100%; } }
    .pages__about-main .moon-btn-container {
      width: 60%;
      height: 20%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      z-index: 1000; }
      @media (max-width: 767px) {
        .pages__about-main .moon-btn-container {
          flex-wrap: wrap;
          width: 90%;
          height: fit-content; } }
  .pages__about-footer {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-black);
    z-index: 10; }
    .pages__about-footer__container {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center; }
      .pages__about-footer__container .heading-secondary {
        position: absolute; }
        .pages__about-footer__container .heading-secondary:first-child {
          left: 50%;
          transform: translateX(-50%); }
        .pages__about-footer__container .heading-secondary:last-child {
          left: 2rem; }

.pages__team {
  height: 100vh;
  background-color: var(--color-tertiary);
  position: relative;
  overflow: hidden; }
  .pages__team-header {
    height: 6rem;
    width: 100%;
    background-color: var(--color-black);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    z-index: 100; }
    .pages__team-header .heading-secondary:first-child {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    .pages__team-header .heading-secondary:last-child {
      position: absolute;
      left: 2rem; }
  .pages__team-sidebar {
    width: 6rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--color-black);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    .pages__team-sidebar .heading-secondary {
      width: 15rem;
      height: 5rem;
      transform: rotateZ(-90deg);
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
  .pages__team-main {
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    position: absolute;
    top: 6rem;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem 20rem; }
    .pages__team-main::-webkit-scrollbar {
      width: 0;
      background: transparent; }
    .pages__team-main .founder {
      width: 100%;
      height: 100rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 2rem; }
      .pages__team-main .founder__box {
        width: 50%;
        height: 35rem;
        position: relative; }
        .pages__team-main .founder__box-image {
          width: 35rem;
          height: 35rem;
          background-image: url("../img/abol.png");
          background-size: cover;
          border-radius: 50%;
          transition: all 0.3s;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          z-index: 10; }
        .pages__team-main .founder__box-container {
          width: 30rem;
          height: 30rem;
          background: linear-gradient(55deg, var(--color-gray), var(--color-secondary));
          border-radius: 3rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(calc(-50% - 20rem)) translateY(-50%);
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: space-around;
          opacity: 0;
          transition: all 0.3s; }
        .pages__team-main .founder__box:hover .founder__box-image {
          width: 20rem;
          height: 20rem;
          transform: translateX(calc(-50% - -11rem)) translateY(-50%); }
        .pages__team-main .founder__box:hover .founder__box-container {
          transform: translateX(calc(-50% - 5rem)) translateY(-50%);
          opacity: 1; }
        @media (max-width: 767px) {
          .pages__team-main .founder__box {
            pointer-events: none; }
            .pages__team-main .founder__box-image {
              width: 17rem;
              height: 17rem;
              transform: translateX(calc(-50% - -8rem)) translateY(-50%); }
            .pages__team-main .founder__box-container {
              width: 20rem;
              height: 20rem;
              transform: translateX(calc(-50% - 5rem)) translateY(-50%);
              opacity: 1; } }
        @media (min-width: 768px) and (max-width: 1200px) {
          .pages__team-main .founder__box {
            pointer-events: none; }
            .pages__team-main .founder__box-image {
              width: 25rem;
              height: 25rem;
              transform: translateX(calc(-50% - -13.5rem)) translateY(-50%); }
            .pages__team-main .founder__box-container {
              width: 30rem;
              height: 30rem;
              transform: translateX(calc(-50% - 5rem)) translateY(-50%);
              opacity: 1; } }
    .pages__team-main .leader {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 2rem; }
      .pages__team-main .leader .card-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center; }
    .pages__team-main .co-leader {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 2rem; }
      .pages__team-main .co-leader .card-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center; }
        .pages__team-main .co-leader .card-container .swiper-wrapper {
          width: 100%;
          height: 100%; }
    .pages__team-main .designer {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 2rem; }
      .pages__team-main .designer .card-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center; }
        .pages__team-main .designer .card-container .swiper-wrapper {
          width: 100%;
          height: 100%; }
    .pages__team-main .sponsor {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 2rem; }
      .pages__team-main .sponsor .card-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center; }
        .pages__team-main .sponsor .card-container .swiper-wrapper {
          width: 100%;
          height: 100%; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .pages__team-main {
        padding: 2rem 1rem; } }
    @media (max-width: 767px) {
      .pages__team-main {
        padding: 2rem 1rem; } }
