.button-primary {
  width: fit-content;
  height: fit-content;
  padding: 1rem 4.5rem ;
  font-size: 2.5rem;
  position: relative;
  transition: all .5s ease-in;
  z-index: 100;
  background-color: $color-primary;
  border-radius: 2.5rem;
  @include respond(phone) {
    width: 20rem;
    height: 5rem;
    display: grid;
    place-items: center;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  @include respond(tablet) {
    width: 20rem;
    height: 5rem;
    display: grid;
    place-items: center;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &:link,
  &:active,
  &:-webkit-any-link {
    text-decoration: none;
    color: $color-black;
  }
  &:hover {
      animation: fadeInOut .3s ease-in;
  }
}

