* ,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // turn 10px in 1rem
}

body {
  background-color: $color-black;
}
a ,a:active a:link {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}