.pages__team {
  height: 100vh;
  background-color: $color-tertiary;
  position: relative;
  overflow: hidden;
  &-header {
    height: 6rem;
    width: 100%;
    background-color: $color-black;
    @include flex(row);
    align-items: center;
    position: relative;
    z-index: 100;
    & .heading-secondary {
      &:first-child {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      &:last-child {
        position: absolute;
        left: 2rem;
      }
    }
  }
  &-sidebar {
    width: 6rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $color-black;
    @include flex(column);
    justify-content: center;
    align-items: center;

    & .heading-secondary {
      width: 15rem;
      height: 5rem;
      transform: rotateZ(-90deg);
      @include flex(row);
      justify-content: center;
      align-items: center;
    }
  }
  &-main {
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    position: absolute;
    top: 6rem;
    right: 0;
    @include flex(column);
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem 20rem;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
    & .founder {
      width: 100%;
      height: 100rem;
      @include flex(column);
      justify-content: space-between;
      align-items: center;
      padding: 2rem;

      &__box {
        width: 50%;
        height: 35rem;
        position: relative;

        &-image {
          width: 35rem;
          height: 35rem;
          background-image: url("../img/abol.png");
          background-size: cover;
          border-radius: 50%;
          transition: all 0.3s;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          z-index: 10;
        }

        &-container {
          width: 30rem;
          height: 30rem;
          background: linear-gradient(55deg, $color-gray, $color-secondary);
          border-radius: 3rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(calc(-50% - 20rem)) translateY(-50%);
          @include flex(column);
          align-items: center;
          justify-content: space-around;
          opacity: 0;
          transition: all 0.3s;

        }

        &:hover .founder__box-image {
          width: 20rem;
          height: 20rem;
          transform: translateX(calc(-50% - -11rem)) translateY(-50%);
        }

        &:hover .founder__box-container {
          transform: translateX(calc(-50% - 5rem)) translateY(-50%);
          opacity: 1;
        }

        @include respond(phone) {
          pointer-events: none;
          &-image {
            width: 17rem;
            height: 17rem;
            transform: translateX(calc(-50% - -8rem)) translateY(-50%);
          }
          &-container {
            width: 20rem;
            height: 20rem;
            transform: translateX(calc(-50% - 5rem)) translateY(-50%);
            opacity: 1;
          }
        }
        @include respond(tablet) {
          pointer-events: none;
          &-image {
            width: 25rem;
            height: 25rem;
            transform: translateX(calc(-50% - -13.5rem)) translateY(-50%);
          }
          &-container {
            width: 30rem;
            height: 30rem;
            transform: translateX(calc(-50% - 5rem)) translateY(-50%);
            opacity: 1;
          }
        }
      }
    }
    & .leader {
      width: 100%;
      height: fit-content;
      @include flex(column);
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      & .card-container {
        width: 100%;
        height: fit-content;
        @include flex(row);
        justify-content: space-around;
        align-items: center;
      }
    }
    & .co-leader {
      width: 100%;
      height: fit-content;
      @include flex(column);
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      & .card-container {
        width: 100%;
        height: fit-content;
        @include flex(row);
        justify-content: space-around;
        align-items: center;
        & .swiper-wrapper {
          width: 100%;
          height: 100%;
        }
      }
    }
    & .designer {
      width: 100%;
      height: fit-content;
      @include flex(column);
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      & .card-container {
        width: 100%;
        height: fit-content;
        @include flex(row);
        justify-content: space-around;
        align-items: center;
        & .swiper-wrapper {
          width: 100%;
          height: 100%;
        }
      }

    }
    & .sponsor {
      width: 100%;
      height: fit-content;
      @include flex(column);
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      & .card-container {
        width: 100%;
        height: fit-content;
        @include flex(row);
        justify-content: space-around;
        align-items: center;
        & .swiper-wrapper {
          width: 100%;
          height: 100%;
        }
      }

    }
    @include respond(tablet) {
      padding: 2rem 1rem;
    }
    @include respond(phone) {
      padding: 2rem 1rem;
    }
  }
}


