.card {
  width: 32rem !important;
  height: 32rem !important;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  perspective: 150rem;
  &:not(:last-child) {
    margin-right: 2rem;
  }
  &__image {
    height: 32rem !important;
    width: 100%;
    transition: all 0.4s ;
  }
  &__age {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    transform: translateX(-15rem);
    color: $color-primary;
    font-size: 2rem;
    transition: all 0.4s ;
    font-weight: bold;
  }
  &__name {
    position: absolute;
    right: 2rem;
    bottom: 5rem;
    transform: translateX(20rem);
    color: $color-primary;
    font-size: 2.5rem;
    transition: all 0.4s ;
    font-weight: bold;
  }
  &__ability {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 5rem;
    background: $color-ash-gray;
    border-radius: 0 0 2rem 2rem;
    font-size: $font-primary;
    transform: translateY(-10rem);
    transition: all 0.4s ;
    color: $color-secondary;
  }
  &:hover .card__image {
    opacity: .3;
    transform: scale(1.2);
  }
  &:hover .card__age {
    transform: translateX(0);
  }
  &:hover .card__name {
    transform: translateX(0);
  }
  &:hover .card__ability {
    transform: translateY(0);
  }
  @include respond(phone) {
    width: 22rem !important;
    height: 32rem !important;
    background-color: $color-gray;
    pointer-events: none;

    &__image {
      height: 22rem !important;
      position: absolute;
      right: 0;
      top: 0;
      pointer-events: none;
    }
    &__age {
      font-size: $font-primary;
      bottom: unset;
      top: 27rem;
      transform: translateX(0);

    }
    &__name {
      font-size: 2rem;
      transform: translateX(0);
      bottom: unset;
      top: 23rem;
    }
    &__ability {
      font-size: 1.4rem;
      border-radius: 0;
      color: $color-primary;
      transform: translateY(0);
      top: 19rem;
      text-align: right;
      background-color: $color-gray;
      right: unset;
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%);
      width: 100%;
      height: 3rem;

    }
    //&:hover .card__image {
    //  opacity: 1;
    //  transform: scale(1);
    //}
    //&:hover .card__ability {
    //  transform: translateY(0);
    //}
  }
}